models/saved_v2/dl_v2/distill/distilbert_artifacts.zip
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
venv/
*.pkl
*.pt
data/raw/
data/processed/
data/Glove
models/saved_v2/dl_v2/distill/distilbert_artifacts/distilbert_best/model.safetensors
models/saved_v2/transformers/distill/distilbert_artifacts.zip
models/saved_v2/transformers/distill/distilbert_artifacts/distilbert_best/model.safetensors
models/saved_v2/transformers/BERT_uncased/bert_artifacts.zip
models/saved_v2/transformers/BERT_uncased/bert_artifacts/bert_best/model.safetensors
models/saved_v2/transformers/deberta_v3/deberta_v3_artifacts.zip
models/saved_v2/transformers/deberta_v3/deberta_v3_artifacts/deberta_v3_best/model.safetensors

models/saved_v2/transformers/modernbert/modernbert_artifacts.zip
models/saved_v2/transformers/modernbert/modernbert_artifacts/modernbert_best/model.safetensors
models/saved_v2/transformers/modernbert_bipia_finetuned/modernbert_bipia_finetuned-20260728T195214Z-1-001.zip
models/saved_v2/transformers/modernbert_bipia_finetuned/modernbert_bipia_finetuned/modernbert_bipia_finetuned_best/model.safetensors
.DS_Store
models/saved_v2/transformers/.DS_Store
models/saved_v2/transformers/BERT_uncased/.DS_Store
models/saved_v2/transformers/BERT_uncased/bert_artifacts/.DS_Store


models/saved_v2/transformers/.DS_Store
models/saved_v2/transformers/BERT_uncased/.DS_Store
models/saved_v2/transformers/BERT_uncased/bert_artifacts/.DS_Store
